@page "{id:int}"
@model ProductsManager.Pages.ProductModel
@{
}

<div class="container mt-4">
    <h2 class="text-center">Product Details</h2>
    @if (Model.Product != null)
    {
        <div class="card mb-3">
            <div class="card-header">Product # @Model.Product.Id</div>
            <div class="card-body">
                <h5 class="card-title">@Model.Product.Name</h5>
                <p class="card-text">@Model.Product.Description</p>
                <p class="card-text">
                    <strong>Price:</strong> @Model.Product.Price.ToString("C")
                </p>
                <p class="card-text">
                    <strong>Stock:</strong> @Model.Product.Stock
                </p>
                <p class="card-text">
                    <strong>Category:</strong> @Model.Product.Category
                </p>



            </div>
        </div>
    }
    else
    {
        <p>Product not found.</p>
    }
</div>